body{
    margin: 0;
    padding: 0;
}
.nav_container{
    padding: 15px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 200px;
}
.logo{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
nav > ul{
    list-style-type: none;
}
a{
    margin: 10px;
    text-decoration: none;
    color:black;
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
nav > ul > li{
    display: inline-block;
}
img{
    border: 3px solid rgb(35, 35, 35);
    border-radius: 15px;
    max-height: 200px;
    animation-name: circle-to-square;
    animation-duration: 1s;
    box-shadow: 0px 0px 20px 4px black;
}
@keyframes circle-to-square {
    from {
        height: 100px;
    }
    to {
        height: 200px;
    }
}